--extra-index-url https://download.pytorch.org/whl/cu128

einops==0.8.1
numpy==2.4.6
Pillow==12.1.0
PyYAML==6.0.3
scipy==1.16.3
ninja==1.13.0
timm==1.0.26
torch==2.9.1+cu128
torchvision==0.24.1+cu128
triton==3.5.1
wandb==0.22.3
wheel==0.46.2
